@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2d3047;
  font-family: "Exo 2", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0px 50px;
  border-bottom: 1px solid #048a81;
}

.header img {
  height: 50%;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

.navbar a {
  font-size: 80 px;
  font-weight: 600;
  color: #048a81;
  text-decoration: none;
}

.navbar .contact {
  background-color: #93b7be;
  color: #2d3047;
  padding: 5px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero {
  margin-top: 70px;
  padding: 50px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  color: #2d3047;
  width: 80%;
}

.hero-info p {
  font-size: 18px;
  font-weight: 300;
  color: #2d3047;
  width: 80%;
}

.hero-info .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-info .btn-services {
  text-decoration: none;
  background-color: #93b7be;
  color: #2d3047;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.hero-info .btn-learn {
  text-decoration: none;
  color: #048a81;
  border: 1px solid #048a81;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.hero img {
  height: 400px;
}

.about {
  width: 100%;
  height: 200px;
  background: #93b7be;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h2 {
  font-size: 24px;
  font-weight: 400;
  width: 600px;
  text-align: center;
}
